
[submodule "forth2012-test-suite"]
	path = forth2012-test-suite
	url = https://github.com/gerryjackson/forth2012-test-suite.git
[submodule "platforms/c/libs/osdialog/osdialog"]
	path = platforms/c.backup/libs/osdialog/osdialog
	url = https://github.com/AndrewBelt/osdialog.git
[submodule "platforms/c/libs/sdl3/SDL"]
	path = platforms/c.backup/libs/sdl3/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "platforms/c/libs/midi/portmidi"]
	path = platforms/c/libs/midi/portmidi
	url = https://github.com/PortMidi/portmidi.git
[submodule "platforms/c/libs/nuklear/Nuklear"]
	path = platforms/c/libs/nuklear/Nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear.git
